@font-face {
  font-family: 'Satoshi-Light';
  src: url('../assets/fonts/Satoshi-Light.ttf');
}

html,
body {
  display: flex;
  justify-content: center;
  /*align-items: center; só enquanto nao apago os usuarios*/
  height: 100vh;
  background: #dfdfdf;
  margin-top: 30px; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Satoshi-Light', sans-serif;
  font-weight: 400;
  line-height: 200%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.div-botao {
  display: flex;
  justify-content: flex-end;
}

.botao {
  padding: 12px 16px;
  gap: 10px;
  margin: 16px 16px 8px 0;
  background-color: #06B051;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.formulario-botao-linha {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600; 
}

.titulo-h1 {
  padding: 10px 0px;
  font-size: 24px;
  line-height: 32px;
}

.table-tr {
  text-align: left;
  padding: 16px;
  font-weight: 600;
}

.table-th {
  text-align: left;
  padding: 16px;
}

.table-icon {
  text-align: left;
  padding-left: 30px;
  color: #484848;
}

.table {
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f8f8;
  width: 100vh;
}

.table-thead {
  background-color: #E4F1E6;
}

.entrada {
  display: flex;
  flex-direction: column;
}

.entrada-label {
  margin-top: 16px;
}

.entrada-input {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  width: 800px;
  height: 40px;
  background-color: #fafafa;
  padding: 10px 16px;
}
